extends layout

block content
  .page-header
    h1= thread.topic
      small  eröffnet am #{moment(thread.created).format('DD.MM.YYYY')} von #{thread.creator.username}
      if user._id.toString() == thread.creator._id.toString()
        a.close(href="/thread/#{thread._id}/remove") &times;

  each post in posts
    .row
      if user._id.toString() != post.author._id.toString()
        .col-sm-1
          img.img-circle(src="https://avatars0.githubusercontent.com/u/1725839?s=460", height="64", width="auto")
      .col-sm-11
        .panel.panel-default
          .panel-heading #{post.author.username} schrieb am #{moment(post.created).format('DD.MM.YYYY [um] hh:mm')}:
            if user._id.toString() == post.author._id.toString()
              a.close(href="/thread/#{thread._id}/post/#{post._id}/remove") &times;
          .panel-body= post.body
      if user._id.toString() == post.author._id.toString()
        .col-sm-1
          img.img-circle(src="https://avatars0.githubusercontent.com/u/1725839?s=460", height="64", width="auto")

  h1 Neuen Kommentar abgeben
  form(action="/thread/#{thread._id}/post/new", method="post")
    textarea.form-control(name="body", placeholder="Neue Nachricht")
    input.btn.btn-default(type="submit", value="Abschicken")

  // pre #{thread}
