extends layout

block content
  a(href="/") Home
  h1= thread.topic
    if user._id.toString() == thread.creator._id.toString()
      a(href="/thread/#{thread._id}/remove") x
  h3 Erstellt von #{thread.creator.username} am #{moment(thread.created).format('DD.MM.YYYY')}

  each post in thread.posts
    h2 #{user.username} schrieb am #{moment(post.created).format('DD.MM.YYYY')}:
      if user._id.toString() == post.author.toString()
        a(href="/thread/#{thread._id}/post/#{post._id}/remove") x
    p= post.body

  form(action="/thread/#{thread._id}/post/new", method="post")
    textarea(name="body", placeholder="Neue Nachricht")
    input(type="submit", value="Abschicken")

  pre #{thread}
