extends layout

block content
  a(href="/") Home
  h1= thread.topic
    a(href="/thread/#{thread._id}/remove") x
  h3 Erstellt von #{thread.creator.username}

  each post in thread.posts
    p= post.body
    a(href="/thread/#{thread._id}/post/#{post._id}/remove") x

  form(action="/thread/#{thread._id}/post/new", method="post")
    textarea(name="body", placeholder="Neue Nachricht")
    input(type="submit", value="Abschicken")

  pre #{thread}
